.header {
  height: 200px;
  width: 100%;
  background-color: bisque;
}

.content.leftPart {
  height: 500px;
  width: 50%;
  background-color: #3adb76;
}

.content.rightPart {
  height: 500px;
  width: 50%;
  background-color: aqua;
}