extends ../layouts/default.jade

block header
  .row
    .medium-12.column
      .header
block content
  .row
    .medium-6.column.content.leftPart
      ul
        li li text_1
          a(href="#") Item 1
        li li text_2
          a(href="#") Item 2
        li li text_3
          a(href="#") Item 3
        li li text_4
          a(href="#") Item 4
        li li text_5
          a(href="#") Item 5
    .medium-6.column.content.rightPart
      h4 Title 1
      p Lorem ipsum


