-
  var arrayOfObjects = [
    {
      "title": "title1",
      "message": "message1",
      "className": "className1"
    },
    {
      "title": "title2",
      "message": "message2",
      "className": "className2"
    },
    {
      "title": "title3",
      "message": "message3",
      "className": "className3"
    },
    {
      "title": "title4",
      "message": "message4",
      "className": "className4"
    }
  ]

-
  var arrayOfHouses = [
    {
      "pic": "assets/img/house1.png",
      "title": "«ЖБ «Перспектива холл»",
      "adress": "м. Івано-Франківськ, вул. Зілізнична, 49",
      "describes": "Цокольне приміщення - 93,7 м2,  154,5 м2 Перший поверх - 101,5 м2, 146,5 м2 Другий поверх - 108,3 м2, 122,5 м2 Типовий поверх : двокімнатні - 63,10м2, 66,8м2 трикімнатні - 87,10м2"
    },
    {
      "pic": "assets/img/house2.png",
      "title": "«ЖК «Перспектива»",
      "adress": "м. Івано-Франківськ, вул. Зілізнична, 49",
      "describes": "Цокольне приміщення - 93,7 м2,  154,5 м2 Перший поверх - 101,5 м2, 146,5 м2 Другий поверх - 108,3 м2, 122,5 м2 Типовий поверх : двокімнатні - 63,10м2, 66,8м2 трикімнатні - 87,10м2"
    },
    {
      "pic": "assets/img/house3.png",
      "title": "«ЖК «Тріумф»",
      "adress": "м. Івано-Франківськ, вул. Мазепи, 35",
      "describes": "Цокольне приміщення - 286,2 м2"
    },
    {
      "pic": "assets/img/house4.png",
      "title": "«ЖК «Вектор»",
      "adress": "м. Івано-Франківськ, вул. Новгородська, буд. 25",
      "describes": "Цокольне приміщення - 102,8 м2 Перший поверх -  124,8 м2 Другий поверх - 27,0 м2, 128,6 м2 Мансарда: трикімнатні - 102,3м2, 135,9м2"
    },
    {
      "pic": "assets/img/house5.png",
      "title": "ЖК «Пурпурові вітрила»",
      "adress": "м. Буча, Київська обл. вул. Катерини Білокур 1-а",
      "describes": "Цокольне приміщення - 93,7 м2,  154,5 м2 Перший поверх - 101,5 м2, 146,5 м2 Другий поверх - 108,3 м2, 122,5 м2 Типовий поверх : двокімнатні - 63,10м2, 66,8м2 трикімнатні - 87,10м2"
    }
  ]